@font-face {
  font-family: "Mazzard";
  src: url("../fonts/MazzardM-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  width: 100%;
}
.header {
  width: 84vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vw;
  z-index: 5;
  position: relative;
}

.menu {
  font-family: "Mazzard";
  color: #555;
  font-size: 1vw;
  display: flex;
  gap: 2vw;
}

.menu-title:hover {
  color: #3c50e8;
}

.logo {
  height: 33px;
  background-image: url("../img/лого.png");
  width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.application {
  color: white;
  background-color: #3c50e8;
  width: 160px;
  font-size: 14px;
}

.entrance {
  color: #3c50e8;
  background-color: white;
  max-width: 100px;
  margin-right: 10px;
  font-size: 14px;
}

.entrance:hover {
  background-color: #3c50e8;
}

.application:hover {
  position: relative;
  bottom: 5px;
  left: 5px;
}

.button {
  border: none;
  height: 40px;
}
.btn-img {
  margin-right: 10px;
}
.btn-img1 {
  display: none;
  margin-right: 10px;
}

.header-buttons {
  padding-left: 8.5vw;
}

.main {
  width: 100%;
  position: relative;
}

.main-title {
  font-family: Mazzard;
  font-size: 4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 57px */
  letter-spacing: -1.14px;
  width: 29vw;
  color: #2d2d2d;
}
.main-text {
  color: #2d2d2d;
  font-family: Mazzard;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  margin-top: 30px;
  width: 20vw;
}
.button-main {
  width: 16vw;
  height: 4.5vw;
  border-radius: 10px;
  background: #3c50e8;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Mazzard;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.5vw;
}

.main-container {
  width: 100%;
  display: flex;
  position: relative;
}

.main-box-1 {
  padding-left: 13%;
  padding-top: 8vw;
}

.mobile {
  position: absolute;
  width: 72vw;
  top: -4.1vw;
  left: 24vw;
}

.dialogue {
  position: absolute;
  width: 34vw;
}
.one {
  top: 4vw;
  left: 44vw;
}

.two {
  top: 17vw;
  left: 59vw;
}

.dialogue-text-2 {
  position: absolute;
  width: 40px;
  left: 67vw;
  top: 24vw;
}

.dialogue-text-1 {
  width: 40px;
  top: 10.5vw;
  left: 52vw;
  position: absolute;
}

.dialogue-word-2 {
  padding-top: 11px;
}

.dialogue-word-1 {
  padding-top: 11px;
}

.money {
  display: flex;
  padding-left: 13%;
  gap: 1.81vw;
  margin-top: 9.8vw;
}

.money-text {
  width: 4vw;
  color: #555;
  font-family: Mazzard;
  font-size: 0.8vw;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.mir {
  width: 7vw;
  height: 2vw;
}

.master {
  width: 3.5vw;
  height: 2vw;
}

.visa {
  width: 6vw;
  height: 2vw;
}

.youmoney {
  width: 3vw;
  height: 2vw;
}

.qiwi {
  width: 6vw;
  height: 3vw;
  position: relative;
  bottom: 0.5vw;
}

.block {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-inner {
  width: 100%;
  margin: 0 auto;
}

.carousel-item {
  width: 100%;
}

.carousel {
  height: 35vw;
  width: 83.8vw;
  margin-left: 13%;
}

.carousel-control-prev-icon {
  background-image: url("../img/Стрелка\ влево.png");
  z-index: 3;
  position: absolute;
  top: 20.5vw;
  right: -18vw;
  width: 4.5vw;
  height: 4.5vw;
}
.carousel-control-next-icon {
  background-image: url("../img/стрелка\ вправо.png");
  z-index: 3;
  position: absolute;
  top: 20.5vw;
  right: 48vw;
  width: 4.5vw;
  height: 4.5vw;
}

.background-slider {
  position: absolute;
  width: 990px;
  height: 451px;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider-text {
  position: relative;
  width: 20vw;
  z-index: 2;
  padding-left: 4.4vw;
  padding-top: 3.5vw;
}

.carousel-control-next {
  z-index: 3;
}
.tarif-card {
  z-index: 2;
  position: absolute;
  top: 4vw;
  left: 38vw;
  width: 36vw;
  height: 22vw;
}

.tarif-card-2 {
  width: 27vw;
  height: 17vw;
  position: absolute;
  top: 6vw;
  right: -21.5vw;
  z-index: 2;
  overflow: hidden;
}

.carousel-title {
  color: #2d2d2d;
  font-family: Mazzard;
  font-size: 4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.2px;
  margin-left: 13%;
  width: 56vw;
  margin-top: 9vw;
  margin-bottom: 4vw;
}

.tarif {
  color: #555;
  font-family: Mazzard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.slider-title {
  color: #2d2d2d;
  font-family: Mazzard;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 30px */
  letter-spacing: -0.6px;
  margin-top: -1vw;
}

.text-slider {
  color: #555;
  font-family: Mazzard;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 1.7vw;
  width: 20vw;
}

.procent {
  display: flex;
  justify-content: space-between;
  color: #2d2d2d;
  text-align: right;
  font-family: Mazzard;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  width: 20vw;
  margin-top: 2vw;
}

.summa {
  display: flex;
  justify-content: space-between;
  color: #2d2d2d;
  text-align: right;
  font-family: Mazzard;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  width: 20vw;
  margin-top: -0.5vw;
}

.btnn {
  width: 20vw;
  height: 4.5vw;
  margin-top: 2.1vw;
  font-size: 0.9vw;
}

.title-3 {
  color: #2d2d2d;
  font-family: Mazzard;
  font-size: 4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 60px */
  letter-spacing: -1.2px;
  margin-left: 13%;
}
.input-group {
  margin-left: 13%;
  position: relative;
  width: 50vw;
  margin-top: 4.8vw;
}

.input-group-text {
  border: none;
}

.input-group > .form-control {
  position: absolute;
  width: 7.9vw;
  border: none;
  font-size: 2vw;
  top: -0.4vw;
  right: 4.9vw;
  padding: 0;
  z-index: 1;
  color: #2d2d2d;
  font-family: Mazzard;
}

.rub {
  position: absolute;
  top: 0.4vw;
  right: 5vw;
  width: 13px;
  height: 19px;
  z-index: 2;
  font-size: 1vw;
}

.form-control-range {
  -webkit-appearance: none;
  width: 45vw;
  height: 1px;
  background: #d9d9d9;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  top: 4.9vw;
}

.form-control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #3c50e8;
  border-radius: 5px;
  cursor: pointer;
}

.form-control-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background: #3c50e8;
  cursor: pointer;
}

.input-group-text {
  padding: 0;
  color: #555;
  font-family: Mazzard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.input-text {
  color: #555;
  text-align: right;
  font-family: Mazzard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 20px */
  letter-spacing: -0.4px;
  position: absolute;
  top: 5.9vw;
}
.zwei {
  right: 5vw;
}

.input-2 {
  position: relative;
  top: 5.2vw;
}

.days {
  width: 3vw;
}

.title-3 {
  margin-top: 4.5vw;
}

.proba {
  width: 10vw;
}

.black-box-1-text {
  color: #b9b9b9;
  font-family: Mazzard;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.proba {
  color: #fff;
  font-family: Mazzard;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 40px */
  letter-spacing: -0.8px;
}

.proba-1 {
  color: #fff;
  font-family: Mazzard;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 40px */
  letter-spacing: -0.8px;
}

.box-time {
  position: absolute;
  top: 7vw;
  left: 62vw;
  z-index: 1;
}

.big-box {
  position: relative;
  height: 34vw;
}
.black-box-main {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2.5vw;
  margin-left: 2.5vw;
}

.proba-box {
  display: flex;
  align-items: flex-end;
}

.proba-rub {
  color: #fff;
  font-family: Mazzard;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.4px;
  position: relative;
  right: 2vw;
}

.black-box {
  width: 24vw;
}

.button-3 {
  width: 19vw;
  height: 4.4vw;
  font-size: 1vw;
}

.footer-content {
  display: flex;
  width: 84vw;
  margin: 0 auto;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.text-footer {
  color: #a6a6a6;
  font-family: Mazzard;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-footers {
  color: #a6a6a6;
  font-family: Mazzard;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-footer-tel {
  color: #fff;
  font-family: Mazzard;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 30px */
  letter-spacing: -0.6px;
  position: relative;
  bottom: 0.6vw;
}

.footer {
  background: #2d2d2d;
  padding-top: 3.5vw;
}

.text-footer-2tel {
  color: #848484;
  font-family: Mazzard;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  bottom: 1.3vw;
}

.blue-text {
  color: #8b99ff;
  font-family: Mazzard;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1vw;
}
.footer {
  width: 100%;
  margin-top: 8.5vw;
}
.button-4 {
  width: 12.3vw;
  height: 2.8vw;
  font-size: 0.8vw;
  margin-bottom: 0.8vw;
}

.footer-content-5 {
  width: 14vw;
}

.text-footer {
  padding-top: 2.4vw;
}

.footer-content-2 {
  padding-top: 2.3vw;
  position: relative;
  right: 1vw;
}

.footer-content-3 {
  padding-top: 2.3vw;
  position: relative;
  right: 1.78vw;
}

.button-4:hover {
  color: #3c50e8;
  background-color: #fff;
}

.black {
  color: #fff;
  border-color: #fff;
  background-color: #2d2d2d;
}

.text-in-the-footer {
  color: #a6a6a6;
  font-family: Mazzard;
  font-size: 0.75vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 83vw;
  margin-left: 13%;
  margin: 0 auto;
  position: relative;
  right: 0.4vw;
  margin-top: 4.3vw;
}

.line {
  width: 83vw;
  margin-left: 13%;
  background-color: #a6a6a6;
  height: 0.1vw;
  margin: 0 auto;
  position: relative;
  right: 0.4vw;
  margin-top: 2.3vw;
}
.dialogue-title-1 {
  width: 14vw;
}
.dialogue-word-1 {
  width: 17vw;
}

.dialogue-title-2 {
  width: 14vw;
}
.dialogue-word-2 {
  width: 17vw;
}

.mobile-header {
  display: none;
}

/* 
Мобильная верстка */

@media (max-width: 640px) {
  body {
    min-width: 375px;
  }

  .header {
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .logo {
    min-width: 120.001px;
    height: 33.41px;
    margin-right: 135px;
  }
  .mobile-header {
    display: flex;
  }

  .mobile-header-img {
    width: 40px;
  }

  .menu {
    display: none;
  }
  .header-buttons {
    display: none;
  }

  .img1 {
    margin-right: 10px;
  }

  .main-box-1 {
    width: 260px;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 93.43px;
  }

  .main-title {
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  .main-text {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .button-main {
    width: 250px;
    height: 70px;
    font-size: 16px;
    margin-top: 25px;
  }

  .mobile {
    width: 713.91px;
    height: 604.838px;
    top: 395px;
    left: -249px;
  }
  .main-container {
    display: block;
  }

  .main-box-2 {
    height: 600px;
  }

  .dialogue {
    width: 414.811px;
    height: 216.953px;
  }

  .one {
    top: 452px;
    left: -46px;
  }

  .two {
    top: 599px;
    left: 43px;
  }

  .dialogue-text-1 {
    top: 526px;
    left: 52px;
  }

  .dialogue-text-2 {
    top: 674px;
    left: 158px;
  }

  .dialogue-title-1 {
    width: 178px;
  }
  .dialogue-word-1 {
    width: 178px;
  }

  .dialogue-title-2 {
    width: 178px;
  }
  .dialogue-word-2 {
    width: 178px;
  }

  .money-text {
    font-size: 12px;
    width: 345px;

    padding-bottom: 4px;
    margin: 0 auto;
  }

  .money {
    flex-wrap: wrap;
    padding-left: 0;
    gap: 20px;
    margin-top: -12px;
  }

  .mir {
    width: 68.995px;
    height: 19.434px;
    margin-left: 5%;
  }

  .master {
    width: 34.804px;
    height: 21.635px;
  }

  .visa {
    width: 62.142px;
    height: 20.106px;
  }

  .youmoney {
    width: 31.17px;
    height: 21.961px;
  }

  .qiwi {
    width: 67px;
    height: 32px;
    position: relative;
    bottom: 0.5vw;
  }

  .carousel-title {
    font-size: 40px;
    width: 345px;

    margin: 0 auto;
    padding-top: 88px;
  }

  .carousel {
    width: 345px;
    height: 652px;
    margin: 0 auto;
  }
  .tarif-card-2 {
    display: none;
  }
  .tarif-card {
    width: 300px;
    height: 181.651px;
    top: 0px;
    left: 22px;
  }

  .background-slider {
    width: 345px;
    height: 541px;
  }
  .carousel-inner {
    padding-top: 50px;
  }

  .slider-text {
    position: relative;
    width: 284;
    z-index: 2;
    margin: 0 auto;
    top: 215px;
    padding-left: 0;
    padding-top: 9px;
  }

  .slider-title {
    font-size: 26px;
    margin-top: -16px;
  }

  .text-slider {
    font-size: 14px;
    width: 100%;
    margin-top: 18px;
  }
  .procent {
    font-size: 16px;
    width: 100%;
  }

  .summa {
    font-size: 16px;
    width: 100%;
  }

  .btnn {
    width: 285px;
    height: 70px;
    font-size: 16px;
  }

  .carousel-control-next-icon {
    top: 611.5px;
    right: 118px;
    width: 50px;
    height: 50px;
  }

  .carousel-control-prev-icon {
    top: 611.5px;
    right: -29vw;
    width: 50px;
    height: 50px;
  }

  .big-box {
    width: 345px;
    margin: 0 auto;
    height: 650px;
  }

  .title-3 {
    font-size: 40px;
    margin-left: 0;
    margin-top: 104px;
  }
  .input-group {
    margin-left: 0;
    width: 345px;
    margin-top: 54px;
  }

  .input-group-text {
    font-size: 16px;
  }

  .input-group > .form-control {
    font-size: 20px;
    width: 62px;
  }

  .input-text {
    font-size: 14px;
    top: 69px;
  }

  .form-control-range {
    top: 53px;
    width: 345px;
  }

  .black-box {
    width: 345px;
    height: 290px;
  }

  .box-time {
    top: 368px;
    left: 0px;
  }

  .input-2 {
    top: 52px;
  }
  .days {
    font-size: 16px;
    width: 35px;
  }

  .proba-box {
    justify-content: center;
  }

  .rub {
    right: 2px;
  }

  .black-box-1-text {
    font-size: 14px;
  }

  .proba {
    font-size: 26px;
  }

  .proba-rub {
    font-size: 16px;
    right: -32px;
  }

  .proba-1 {
    font-size: 26px;
  }

  .black-box-main {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    top: 30px;
    left: 23px;
  }

  .blue {
    margin-bottom: 10px;
  }
  .button-3 {
    width: 290px;
    height: 70px;
    font-size: 14px;
  }

  .footer-logo {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-content-1 {
    order: 3;
    padding-top: 13px;
  }
  .footer-content-2 {
    order: 4;
    padding-top: 0px;
  }

  .footer-content-3 {
    order: 5;
    padding-top: 0px;
  }

  .footer-content-4 {
    order: 1;
    padding-top: 27px;
    padding-bottom: 25px;
  }

  .footer-content-5 {
    order: 2;
    margin: 0 auto;
    width: 190px;
    padding-top: 0px;
  }

  .text-footers {
    font-size: 14px;
  }

  .button-4 {
    width: 190px;
    height: 40px;
    font-size: 14px;
  }

  .text-footer {
    font-size: 14px;
  }

  .text-footer-tel {
    font-size: 30px;
    bottom: 7px;
  }

  .text-footer-2tel {
    font-size: 12px;
    bottom: 18px;
  }

  .blue-text {
    bottom: -423px;
    font-size: 14px;
    position: relative;
    width: 199px;
    right: 9px;
  }

  .line {
    margin-top: 82px;
    width: 100%;
  }

  .text-in-the-footer {
    font-size: 10px;
    height: 41vh;
    padding-top: 27px;
    width: 345px;
  }

  .footer {
    margin-top: 106px;
  }
}
